{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}
{% load static %}
<div class="container">
  <div class="jumbotron">
    <div class="row justify-content-center">
      <div class="col-md-4 login-box">
        <img class="mb-4 mt-2 justify-content-center" src="{% static 'images/NCMLogo.png' %}" alt="NCMlogo" width="120">
        <h4 class="mb-3">Change Password</h4>
        <form method="post">
          {% csrf_token %} {{ form|crispy }}
          <button type="submit" class="btn btn-outline-success btn-sm mt-2">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}