{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if user.is_authenticated %}
        <h3 > Dashboard</h3>
        <ol class="breadcrumb mb-4">
        </ol>
        <div class="row">
            {% for i in streams%}
            <div class="col-xl-3 col-md-6">
                <div class="card dashboard-tile text-danger mb-4">
                    <div class="card-body"> <strong> {{i.stream }} </strong></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-primary stretched-link" href="{% url 'ecm:find_report' %}?stream={{i.stream}}&report_type=Simple+Report">View Details</a>
                        <div class="small text-white"><i class="fas fa-angle-right text-primary"></i></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
    <div class="jumbotron mt-5">
        <div class="row">
            <h4 class="mt-5"> Please Log in</h4>            
        </div>
    </div>
    {% endif %}
    <div class="bg-light rounded-3">
        <div class="container-fluid py-5">
          <a href="https://www.nepalcanmove.com">
            <img class="mb-4 mt-2" src="{% static 'images/NCMLogo.png' %}" alt="NCMlogo" width="220">
          </a>
          <p class="col-md-8 mt-3">
            Send & collect your packages like never before. Nepal Can Move's send
            & collect service in Nepal works in an easy & intuitive way to make
            sending & receiving packages fast & fun. We are the courier service in
            Nepal that you can trust.
          </p>
        </div>
      </div>
    
{% endblock %}