{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <div class="row">
      <div class="col-sm-12">
        <div class="breadcrumb">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item mt-2">
                <a href="{% url 'ecm:index' %}">
                  <i class="fas fa-chevron-left text-danger"></i> Dashboard
                </a>
              </li>
            </ol>
          </nav>
        </div>
        <h4 class="text-danger mb-5">{{stream}} - Matrix Report</h4>
        <table id="matrix-table">
            <thead>                
              <tr>
                <th>SN.</th>
                <th>Item</th>
                {% for i in step %}
                    <th>{{i}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
            {% for i in count %}
            <tr>
              <td scope="row">{{ forloop.counter }}</td>
              <td>
                <a href="{% url 'ecm:item_details' pk=i.0.pk %}">{{i.0.name}}</a></a>
              </td>
                {% for j in i.1 %}

                    {% if j == 'COMPLETED' %} 
                      <td class="text-success"><strong>{{j}}</strong></td>

                    {% elif j == "IN PROGRESS" %}
                      <td class="text-warning"><strong>{{j}}</strong></td>

                    {% elif j == "" %}
                      <td class="text-warning"><strong> PENDING </strong></td>

                    {% else %}
                      <td class="text-danger"><strong>{{j}}</strong></td>                      
                    {% endif %}

                {% endfor %}  
            </tr>    
            {% endfor %}
          </tbody>
          </table>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
  $(document).ready(function () {
    $('#table_id').DataTable();
  });
</script>
{% endblock %}