{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <div class="row">

      <div class="">
        <h4 class="text-danger mb-5">Generate Report</h4>

        <div id="report-form" class="mb-2">
          
          <form
            action="{% url 'ecm:find_report' %}"
            method="get"
          >           

            <div class="input-group mb-2">
              <select class="custom-select"  
                name="stream"
                id = "stream"
                class="form-control mb-2">
                {% for i in can %}
                  <option value="{{i.stream}}">{{i.stream}}</option>
                {% endfor %}
              </select>
            </div>
            <div class="input-group mb-2">
            <select class="custom-select"
              name="report_type"
              id = "report_type"
              class="form-control mb-2"
              placeholder="Report type"
            >
              <option value="Simple Report">Simple Report</option>
              <option value="Matrix Report">Matrix Report</option>
            </select>
            </div>
            <button
              class="btn btn-outline-success mb-3"
              type="submit"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
      </div>
      </div>
{% endblock %}